<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {{ stile }}
    <title>{{ title }}</title>
</head>
<body>

    <div class="menu">
        {{ menu }}
    </div>

    {% if form %}
    <form action="" method="post">
        <p>
	        <label for="boiler_1">Первый котел</label>
	        <input type="checkbox" name="boiler_1" {{ boiler1 }}>
	    </p>
	    <p>
	        <label for="boiler_2">Второй котел</label>
	        <input type="checkbox" name="boiler_2" {{ boiler2 }}>
	    </p>
	    <p>
	        <input type="submit">
	    </p>
    </form>
    {% endif %}
    {% if temperature %}
    <div class="temperature">
        {{ temp }}
    </div>
    {% endif %}
    <div>
        {{ content }}
    </div>
</body>
</html>